.root {
  span {
    text-decoration: none;
    color: #6b66cc;

    position: relative;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #14b8a6;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }
}

.underline {
  span {
    text-decoration: none;
    color: #6b66cc;

    position: relative;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #14b8a6;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 100%;
      left: 0;
    }
    
  }
}
